In [8]:
import pandas as pd

In [9]:
fat_time = pd.read_csv('output/fat_time.csv')
fat_operations = pd.read_csv('output/fat_operations.csv')

In [10]:
dt_time = pd.read_csv('output/dt_time.csv')
dt_operations = pd.read_csv('output/dt_operations.csv')

In [11]:
fat_time

                          File         Time
0     io/input_8_600_5_5_0.txt   433.902597
1  io/input_1024_200_5_9_9.txt  1817.852688
2  io/input_1024_200_9_0_0.txt  3641.570568
3  io/input_1024_200_9_0_9.txt   239.428139
4  io/input_2048_600_5_5_0.txt   951.165342

In [12]:
dt_time

                          File         Time
0     io/input_8_600_5_5_0.txt  2686.496210
1  io/input_1024_200_5_9_9.txt  5319.835901
2  io/input_1024_200_9_0_0.txt  1533.555317
3  io/input_1024_200_9_0_9.txt   368.715000
4  io/input_2048_600_5_5_0.txt  2755.776739

In [13]:
fat_operations

,File,Create,Extend,Shrink,Access,Create Rejected,Extend Rejected,Shrink Rejected,Access Rejected
0,io/input_8_600_5_5_0.txt,600,555,0,582,332,317,0,117
1,io/input_1024_200_5_9_9.txt,200,1396,1574,170,27,377,275,12
2,io/input_1024_200_9_0_0.txt,200,0,0,409113,79,0,0,48055
3,io/input_1024_200_9_0_9.txt,200,0,833,1605,0,0,154,42
4,io/input_2048_600_5_5_0.txt,600,535,0,596,211,182,0,55

In [14]:
dt_operations

,File,Create,Extend,Shrink,Access,Create Rejected,Extend Rejected,Shrink Rejected,Access Rejected
0,io/input_8_600_5_5_0.txt,600,555,0,582,72,555,0,209
1,io/input_1024_200_5_9_9.txt,200,1396,1574,170,0,1386,974,113
2,io/input_1024_200_9_0_0.txt,200,0,0,409113,80,0,0,137110
3,io/input_1024_200_9_0_9.txt,200,0,833,1605,0,0,154,208
4,io/input_2048_600_5_5_0.txt,600,535,0,596,72,535,0,203